<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/echarts.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
    <title>Images</title>
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="imageupload">Upload Image</a></li>
    <li><a href="images">Images</a></li>
    <li><a href="registeruser">Register</a></li>
    <li><a href="users">Users</a></li>
</ul>
<h2>Images</h2>
<th:block th:text="${message}">message</th:block>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
        <th>Histogram</th>
        <th>Permissions needed</th>
    </tr>
    <tr th:each = "image: ${images}">
        <td th:text="${image.title}"></td>
        <td th:text="${image.description}"></td>
        <td><img th:src="${'data:image/jpeg;charset=utf-8;base64,' + image.image}" alt=""></td>
        <td>
            <div th:id="'histogram' + ${image.Id}" style="width: 600px;height:400px;"></div>
            <script type="text/javascript" th:inline="javascript">
            var colorHistogram = echarts.init(document.getElementById("histogram" + [[${image.Id}]] ));

            var blue=[[${image.histogramData[0]}]];
            var green=[[${image.histogramData[1]}]];
            var red=[[${image.histogramData[2]}]];

            compareArrays = (a, b) =>
              a.length === b.length &&
              a.every((v, i) => v === b[i]);

            if(compareArrays(blue,red))
            {
            var option = {
                    title: {
                                     Text: 'Gray Level Histogram'
                    },
                    tooltip: {},
                    legend: {
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        name: 'Intensity',
                        type: 'bar',
                        itemStyle: {color: 'gray'},
                        data: blue
                    }]
                };
            } else {
                  var option = {
                    title: {
                                     Text: 'Color Histogram'
                    },
                    tooltip: {},
                    legend: {
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        name: 'Blue',
                        type: 'bar',
                        itemStyle: {color: 'blue'},
                        data: blue
                    },
                    {
                        name: 'Red',
                        type: 'bar',
                        itemStyle: {color: 'red'},
                        data: red
                    },
                    {
                        name: 'Green',
                        type: 'bar',
                        itemStyle: {color: 'green'},
                        data: green
                    }]
                };
            }
            colorHistogram.setOption(option);
        </script>
        </td>
        <td th:text="${image.role.role}"></td>
        <td>
            <form th:action="@{images/deleteImage/}" method="post">
                <input type="hidden" name="id" th:value="${image.Id}">
                <button type="submit" onClick="return confirm('Delete image?')">Delete</button>
            </form>
        </td>
        <td>
            <form th:action="@{images/toGrayscale/}" method="post">
                <input type="hidden" name="id" th:value="${image.Id}">
                <button type="submit" onClick="return confirm('Convert image to grayscale?')">Grayscale</button>
            </form>
            <form th:action="@{images/toBinary/}" method="post">
                <input type="hidden" name="id" th:value="${image.Id}">
                <button type="submit" onClick="return confirm('Convert image to binary?')">Binary</button>
            </form>
            <form th:action="@{images/invertColors/}" method="post">
                <input type="hidden" name="id" th:value="${image.Id}">
                <button type="submit" onClick="return confirm('Invert colors?')">Invert colors</button>
            </form>
            <form th:action="@{images/sharpenImage/}" method="post">
                <input type="hidden" name="id" th:value="${image.Id}">
                <button type="submit" onClick="return confirm('Sharpen image?')">Sharpen image</button>
            </form>
            <form th:action="@{images/blurImage/}" method="post">
                <input type="hidden" name="id" th:value="${image.Id}">
                <button type="submit" onClick="return confirm('Blur image?')">Blur image</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>