<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <title>Images</title>
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="imageupload">Upload Image</a></li>
    <li><a href="images">Images</a></li>
    <li><a href="registeruser">Register</a></li>
    <li><a href="users">Users</a></li>
</ul>
<h2>Users</h2>
<th:block th:text="${message}">message</th:block>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    <tr th:each = "user: ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.role.role}"></td>
        <td>
            <form th:action="@{users/deleteUser/}" method="post">
                <input type="hidden" name="id" th:value="${user.Id}">
                <button type="submit" onClick="return confirm('Delete user?')">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>